<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h3>INICIO - Tu Pagina principal</h3> 
        </div>
        <div th:if="${session.usuariosession != null}">
            <h2 th:text=" 'Hola! ' + ${session.usuariosession.nombre} + ', has vuelto.'"></h2>
        </div>

        <nav th:replace="/fragments/navbar :: nav"></nav>

        <div th:if="${exitoUsuario!=null}">
            <div>
                <h5>Registrado con exito!</h5>
                <p th:text="${exitoUsuario}"></p>
            </div>
        </div>
    </body>
</html>
