<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        
        <div>
            <h4>Lista de libros</h4>
        </div>
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>STOCK</th>
                        <th>AUTOR</th>
                        <th>EDITORIAL</th>
                        <th>MODIFICAR</th>
                    </tr>
                </thead>
                <tbody th:each="libro : ${libros}">
                    <tr>
                        <th th:text="${libro.isbn}"></th>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.ejemplares}"></td>
                        <td th:text="${libro.autor.nombre}"></td>
                        <td th:text="${libro.editorial.nombre}"></td>
                        <td>
                            <a th:href="@{/libro/modificar/__${libro.isbn}__}">
                                <i>Edit</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        

    </body>
</html>
