<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org" 
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
    
    <head th:replace="/fragments/head :: head"></head>

    <body>
        
        <div>
            <h4>Lista de libros</h4>
        </div>
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>STOCK</th>
                        <th>AUTOR</th>
                        <th>EDITORIAL</th>
                        <th sec:authorize="hasRole('ADMIN')">MODIFICAR</th>
                    </tr>
                </thead>
                <tbody th:each="libro : ${libros}">
                    <tr>
                        <th th:text="${libro.isbn}"></th>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.ejemplares}"></td>
                        <td th:text="${libro.autor.nombre}"></td>
                        <td th:text="${libro.editorial.nombre}"></td>
                        <td sec:authorize="hasRole('ADMIN')" >
                            <a th:href="@{/libro/modificar/__${libro.isbn}__}">
                                <i>Edit</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        

    </body>
</html>
