<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>INICIO ADMIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>INICIO - Tu Pagina principal - para admins</div>

        <nav th:replace="/fragments/navbar :: nav"></nav>
        

        <div th:if="${exitoUsuario!=null}">
            <div>
                <h5>Registrado con exito!</h5>
                <p th:text="${exitoUsuario}"></p>
            </div>
        </div>
        
    </body>
</html>